body {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a5ddff;
  padding: 1em;
}
  .brand {
    color: #fff;
    font-size: 2em;
    margin: 0;
  }

.main {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: right;
  width: 50%;
}
  .main a {
    color: #248cc8;
  }
    .main a:hover {
      color: #f47e3c;
    }

.bingo-space {
  background-color: #ddd;
  cursor: pointer;
  padding: 1em;
  text-align: center;
  width: 20%;
}
  .bingo-space:hover {
    background-color: #bbb;
    color: #f47e3c;
  }
  .bingo-space.selected {
    background-color: #eee;
    color: #f47e3c;
  }

.bingo-reset {
  background-color: #277ca3;
  border: 0px none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  opacity: 0.5;
  padding: 10px 1%;
  text-align: center;
}
  .bingo-reset:hover {
    opacity: 1;
  }

footer {
  background-color: #2f3033;
  padding: 1em;
}
  .disclaimer {
    color: #ccc;
    font-size: 0.75em;
    text-align: right;
  }

  footer a {
    background-color: #36a0e0;
    color: #fff;
    padding: 2px 5px;
    text-decoration: none;
  }
    footer a:hover {
      background: #4886ac;
      color: #bbb;
    }
