body {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a5ddff;
  padding: 1em;
}
  .brand {
    color: #fff;
    font-size: 2em;
    margin: 0;
  }

.main {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
  text-align: right;
  transition: width 0.5s;
  width: 50%;
}
  @media screen and (max-width: 1000px) {
    .main {
      width: 75%;
    }
  }
  @media screen and (max-width: 700px) {
    .main {
      width: 100%;
    }
  }
  .main a {
    color: #248cc8;
  }
    .main a:hover {
      color: #f47e3c;
    }

.bingo-space {
  background-color: #ddd;
  cursor: pointer;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  transition: font-size 0.5s, padding 0.5s;
  width: 20%;
}
  @media screen and (max-width: 600px) {
    .bingo-space {
      font-size: 0.875em;
      padding: 0.75em;
    }
  }
  @media screen and (max-width: 450px) {
    .bingo-space {
      font-size: 0.75em;
      padding: 0.5em;
    }
  }
  .bingo-space:hover {
    background-color: #bbb;
    color: #f47e3c;
  }
  .bingo-space.selected {
    background-color: #eee;
    color: #f47e3c;
  }

.bingo-reset,
.bingo-tweet {
  background-color: #277ca3;
  border: 0px none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  opacity: 0.5;
  padding: 10px 1%;
  text-align: center;
}
  .bingo-reset:hover,
  .bingo-tweet:hover {
    opacity: 1;
  }

.bingo-tweet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

.bingo-win {
  background-color: #d4aadc;
  border-radius: 1em;
  border: 1px solid rgba(116, 116, 116, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  display: none;
  left: 1em;
  padding: 1em;
  position: absolute;
  right: 1em;
  text-align: left;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  top: 3em;
  z-index: 10;
}
  .bingo-win.bingo-win--won {
    display: block;
  }
  .bingo-win__close {
    background-color: transparent;
    border: 0;
    color: #666;
    cursor: pointer;
    font-size: 0.75em;
    padding: 0.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
    .bingo-win__close:hover {
      color: #333;
    }
  .bingo-win h1 {
    margin-top: 0;
  }
  .bingo-session {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #666;
    margin-left: 1em;
  }
  .bingo-win__prompts {
    text-align: center;
  }
  .bingo-win__prompts button {
    display: inline-block;
    margin-right: 2em;
  }
    .bingo-win__prompts button:last-of-type {
      margin-right: auto;
    }

footer {
  background-color: #2f3033;
  padding: 1em;
}
  .disclaimer {
    color: #ccc;
    font-size: 0.75em;
    text-align: right;
  }

  footer a {
    background-color: #36a0e0;
    color: #fff;
    padding: 2px 5px;
    text-decoration: none;
  }
    footer a:hover {
      background: #4886ac;
      color: #bbb;
    }
